
 


@font-face {
   font-family:font;
   src: url(./fonts/font.ttf);
}




 .textgreen{
    color: var(--greencolor);
    font-family:font;
 }

 .bggreen{
    background-color:#4CAF4F;
    ;
    color: white;
 }

 .bggreen :hover{
    background-color: rgb(242, 243, 242);
 }

 .bggreencolor{
    background-color: white;
    color:#4CAF4F;
    ;
 }

 .bggreencolor :hover {
    background-color:#4CAF4F;
 
    color: white;
 }

 .textcolor{
        color:white;
 }


 .textcolor :hover{
   color: #4CAF4F;

 }
 
  

.textcolor-h1{
  color:#4CAF4F  ;
  font-family: font;
}
   
.textcolor-h1{
  color:#4CAF4F;

}
.bg-color{
   background-color:#F5F7FA !important;
}

.bg-color{
   background-color: #F5F7FA; 
}

.fontsize{
 font-size: 30px;  
 font-family: font;
}

.fontfamliy{
   font-family: font;
}


.color{
   color: black;
}

.bg-color1{
   background-color: #F5F7FA !important;
}

.customshadow{
   box-shadow: 0px 2px 4px 0px #ABBED133;

}

.tx{
   text-align: left;
}

.txs{
font-size: 35px !important;
}

.txp{
   font-size: 15px;
}

.bgfooter{
   background: #263238;

}


.color-white{
   color: white !important;
}


.box-s{
   width: 22% !important;
}

.bgemail{
   background: #FFFFFF;
 
}


.footergrey{
   background-color: #515b60 !important;
}

.footergrey::placeholder{
   color: white;
}

@media (min-width: 576px) {
   .container{
   justify-content: center;
  }
}