@font-face {
   font-family: font;
   src: url(./fonts/font.ttf);
}




.textgreen {
   color: var(--greencolor);
   font-family: font;
}

.bggreen {
   background-color: #4CAF4F;
   ;
   color: white;
}

.bggreen :hover {
   background-color: rgb(242, 243, 242);
}

.bggreencolor {
   background-color: white;
   color: #4CAF4F;
   ;
}

.bggreencolor :hover {
   background-color: #4CAF4F;

   color: white;
}

.textcolor {
   color: white;
}


.textcolor :hover {
   color: #4CAF4F;

}



.textcolor-h1 {
   color: #4CAF4F;
   font-family: font;
}

.textcolor-h1 {
   color: #4CAF4F;

}

.bg-color {
   background-color: #F5F7FA !important;
}

.bg-color {
   background-color: #F5F7FA;
}

.fontsize {
   font-size: 30px;
   font-family: font;
}

.fontfamliy {
   font-family: font;
}


.color {
   color: black;
}

.bg-color1 {
   background-color: #F5F7FA !important;
}

.customshadow {
   box-shadow: 0px 2px 4px 0px #ABBED133;

}

.tx {
   text-align: left;
}

.txs {
   font-size: 35px !important;
}

.txp {
   font-size: 15px;
}

.bgfooter {
   background: #263238;

}


.color-white {
   color: white !important;
}


.box-s {
   width: 22% !important;
}

.bgemail {
   background: #FFFFFF;

}


.footergrey {
   background-color: #515b60 !important;
}

.footergrey::placeholder {
   color: white;
}
/* mobile dedia query */

@media screen and (min-width:0px) and (max-width:480px) {

   .textgreen {
      text-align: center !important;
      justify-content: center !important;

   }

.unseen{
   display: flex;
   flex-direction: row-reverse;
}

   h1 {
      text-align: center;

   }

   .lh-1 {
      text-align: center;

   }

   p {
      text-align: center;
   }

   .tx {
      text-align: center;
      padding: 5px !important;
   }


   .content {
      justify-content: center;
      align-items: center;
      padding-left: 90px;
   }

   footer {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-right:140px ;
      justify-content: center;
      align-items: center;
   }

   .box-s {
      width: 100% !important;
      padding-right: 0px;
      margin: 0%;
      text-align: center;
      font-size:10px ;
   }

   
   .footergrey::placeholder {
   color: white;
   width: 100%;
}
/* 
.footerlogo div img{
   padding-left: 150px !important;
} */


.bttn{
   justify-content: center !important;
   width: 100% !important;
}

}




/* tablate media query  */

@media screen and (min-width:481px) and (max-width:768px) {

   .textgreen {
      text-align: center !important;
      justify-content: center !important;

   }

.card-group{
   display: flex;
    flex-direction: column;
}

   h1 {
      text-align: center;

   }

   .lh-1 {
      text-align: center;

   }

   p {
      text-align: center;
   }

   .tx {
      text-align: center;
      padding: 5px !important;
   }


   .content {
      justify-content: center;
      align-items: center;
      
   }

   .footergrey::placeholder {
   color: white;
   width: 70%;
}
/* 
.footerlogo div img{
   padding-left: 150px !important;
} */


.bttn{
   justify-content: center !important;
   width: 100% !important;
}

}